.btn-add {
	background-image: url(../img/btn/add.gif) !important;
}
.btn-add2 {
	background-image: url(../img/btn/add2.gif) !important;
}
.btn-edit {
    background-image:url(../img/btn/edit.gif) !important;
}
.btn-remove {
	background-image: url(../img/btn/remove.gif) !important;
}
.btn-save {
	background-image: url(../img/btn/save.gif) !important;
}
.btn-close {
	background-image: url(../img/btn/close.gif) !important;
}
.btn-excel {
	background-image: url(../img/btn/excel.gif) !important;
}
.btn-list {
	background-image: url(../img/btn/list.gif) !important;
}
.btn-logout{
	background-image: url(../img/logout.gif) !important;
}
.menu-navigation {
	background-image: url(../img/menu/navigation.gif) !important;
}
.menu-plugin {
	background-image: url(../img/menu/plugin.gif) !important;
}
.menu-folder {
	background-image: url(../img/menu/folder.gif) !important;
}
.menu-1 {
	background-image: url(../img/menu/menu-1.gif) !important;
}
.menu-2 {
	background-image: url(../img/menu/menu-2.gif) !important;
}
.menu-3 {
	background-image: url(../img/menu/menu-3.gif) !important;
}
.menu-4 {
	background-image: url(../img/menu/menu-4.gif) !important;
}
.menu-5 {
	background-image: url(../img/menu/menu-5.gif) !important;
}
.menu-6 {
	background-image: url(../img/menu/menu-6.gif) !important;
}
.menu-11 {
	background-image: url(../img/menu/menu-11.gif) !important;
}
.menu-12 {
	background-image: url(../img/menu/menu-12.gif) !important;
}
.menu-13 {
	background-image: url(../img/menu/menu-13.gif) !important;
}
.menu-14 {
	background-image: url(../img/menu/menu-13.gif) !important;
}
.menu-15 {
	background-image: url(../img/menu/menu-15.gif) !important;
}
.menu-21 {
	background-image: url(../img/menu/menu-12.gif) !important;
}
.menu-22 {
	background-image: url(../img/menu/menu-11.gif) !important;
}
.menu-23 {
	background-image: url(../img/menu/menu-13.gif) !important;
}
.menu-24 {
	background-image: url(../img/menu/menu-13.gif) !important;
}
.menu-25 {
	background-image: url(../img/menu/menu-15.gif) !important;
}
.menu-31 {
	background-image: url(../img/menu/menu-31.gif) !important;
}
.menu-32 {
	background-image: url(../img/menu/menu-32.gif) !important;
}
.menu-33 {
	background-image: url(../img/menu/menu-33.gif) !important;
}
.menu-34 {
	background-image: url(../img/menu/menu-13.gif) !important;
}
.menu-35 {
	background-image: url(../img/menu/menu-15.gif) !important;
}
.menu-41 {
	background-image: url(../img/menu/menu-41.gif) !important;
}
.menu-42 {
	background-image: url(../img/menu/menu-41.gif) !important;
}
.menu-43 {
	background-image: url(../img/menu/menu-41.gif) !important;
}
.menu-44 {
	background-image: url(../img/menu/menu-41.gif) !important;
}
.menu-45 {
	background-image: url(../img/menu/menu-45.gif) !important;
}
.menu-46 {
	background-image: url(../img/menu/menu-45.gif) !important;
}
.menu-51 {
	background-image: url(../img/menu/menu-51.gif) !important;
}
.menu-52 {
	background-image: url(../img/menu/menu-51.gif) !important;
}
.menu-53 {
	background-image: url(../img/menu/menu-53.gif) !important;
}
.menu-54 {
	background-image: url(../img/menu/menu-54.gif) !important;
}
.menu-61 {
	background-image: url(../img/menu/menu-61.gif) !important;
}
.menu-62 {
	background-image: url(../img/menu/menu-62.gif) !important;
}
.menu-63 {
	background-image: url(../img/menu/menu-63.gif) !important;
}
.clock{background:url(../img/clock.gif) no-repeat;width:300px;height:40px;margin:'30 0 0 200';padding-left:20px;color:#004C7E;font:14px "ו";}